html, body {
	height: 100%;
	margin:0;
}
body {
	font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background:#fafaf8;
	color:#1a1a1a;
}

a {
	color: inherit;
	text-decoration: none; 
}

h1 {
	color: #e0001b;
	font-weight:400;
	margin:0;
}


h2 {
	margin-top:0px;
	text-transform:uppercase;
	font-size:1.1em;
	color: #0c65aa;
}

h1 span {
	color: #0c65aa;
	font-style:italic;
}

.hide {
	display:none;	
}

.column {
	float: left;
	width: 48%;
	height: 65px;
	margin-right:2%;
	overflow:hidden;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.modal-window label {
	text-transform:uppercase;
	color:#C0C0C0;
	font-size:90%;
	white-space: nowrap;
}

input, select {
	width:100%;
	-webkit-appearance: none;
	-webkit-border-radius: none;
	padding:5px;
	font-size:120%;
	margin-bottom:10px;
	font-family: monospace;
	background:#f0f0f0;
	border:0;
	border-bottom:2px solid #C0C0C0;
	border-radius:0;
}

#errMsg {
	text-align: center;
	bottom: 8px;
	color: red;
	background-color: #ffeeee;
	text-align: center;
	width: 100%;
	max-width: 500px;
	padding: 4px;
	margin-bottom:20px;
	border: red solid 1px;
	visibility: hidden;
}

#theimg, #theimg2, #theimg3 {
	width: 100%;
	margin-bottom: 10px;
}

.qrcode {
	padding:10px;
	letter-spacing: 1px;
	background:#fff;
	border-radius:10px;
	font-family: monospace;
	color:rgba(0,0,0,0.5);
	text-align:center;
	max-width:500px;
	width:100%;
	box-sizing:border-box;
}

.modal-window {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
.modal-window .foreground {
	width: 90%;
	position: absolute;
	top: 50%;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(3px);
	left: 50%;
	background: rgba(255,255,255,0.95);
	transform: translate(-50%, -50%);
	padding: 1em;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.modal-close {
	color: #aaa;
	font-size: 80%;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	display: block;
	padding: 10px;
	text-decoration: none;
}
.modal-close:hover {
	color: black;
}
.align-middle {
	display: grid;
	justify-content: center;
	align-items: center;	
	height: 80vh;
}
.container {
	padding:10px;
	z-index: 99;
	box-sizing: border-box;
	max-width:100%;
	position:relative;
	height: 100vh;
}

#copyright {
	position:absolute;
	bottom: 10px;
	width:100%;
	text-align: center;
	font-size:0.8em;
	opacity: 0.3;
	text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    input, select {
        font-size:100%;
    }
	
	label {
		font-size:80%;
	}
}

.menu {
	display:inline-block;
	text-decoration: none;
	position:absolute;
	right:8px;
	padding:8px;
	z-index:1;
	top:10px;
	font-size:160%;
}

.menu > * {
	cursor: pointer;
	vertical-align: middle;;
}

.mdi--bookmark-plus {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M17 3a2 2 0 0 1 2 2v16l-7-3l-7 3V5a2 2 0 0 1 2-2zm-6 4v2H9v2h2v2h2v-2h2V9h-2V7z'/%3E%3C/svg%3E");
}

.mdi--qrcode-edit {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M5 5h2v2H5zM1 1h10v10H1zm2 2v6h6V3zm2 14h2v2H5zm-4-4h10v10H1zm2 2v6h6v-6zm10-2h4v2h2v-2h4v2h-4v2h4v6h-4v-2h-4v2h-2v-2h2v-2h-2zm8 8v-2h-2v2zm-2-4h-2v-2h-2v4h4zm3.7-13.65l-1 1l-2.05-2l1-1c.2-.21.54-.22.77 0l1.28 1.23c.21.2.22.54 0 .77M13 8.94l6.07-6.06l2.05 2.05L15.06 11H13z'/%3E%3C/svg%3E");
}

.mdi--edit {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75z'/%3E%3C/svg%3E");
  }

.mdi--qrcode-plus {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M5 5h2v2H5zM1 1h10v10H1zm2 2v6h6V3zm2 14h2v2H5zm-4-4h10v10H1zm2 2v6h6v-6zm10-2h4v2h2v-2h4v2h-4v2h4v6h-4v-2h-4v2h-2v-2h2v-2h-2zm8 8v-2h-2v2zm-2-4h-2v-2h-2v4h4zM17 2v3h-3v2h3v3h2V7h3V5h-3V2Z'/%3E%3C/svg%3E");
}

.mdi--close-thick {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12z'/%3E%3C/svg%3E");
}

input[type="file"] {
	display: none;
}